a {
    color: #f0f0f0;
    text-decoration: none;
}

.selectPageBlock {
    width: 30px;
    height: 91vh;
    padding: 0 10px;
    background: #0000004f;
    /*box-sizing: border-box;*/
    border-radius: 10px;
    overflow: scroll;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 10px;
    bottom: 15px;
    margin: 0 auto;
    align-items: center;
    box-shadow: inset 0px 0px 20px 7px #0a67a363;
}

.items {
    padding: 10px;
}

.selectPage {
}

.selectPageBlock a.active {
    /*color: #0b31d5;*/
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 0 7px #f0f0f0;
}

.userPhoto {
    /*position: absolute;*/
    /*left: 0;*/
    width: 85px;
    border-radius: 50px;
}

.usersBlock {
    width: calc(100% - 250px);
    height: calc(100% - 70px);
    padding: 20px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    flex-wrap: nowrap;
}

.user {
    display: inline-flex;
    justify-content: space-between;
    /*padding: 15px;*/
    width: 700px;
    /*background: darkslateblue;*/
}

.userDetails {
}

.userAbout {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
}

.followButton {
}

.unFollowButton {
}

.userName {
}

.userStatus {
}

.userLocation {
}

.userLocation {
}

